@charset "euc-kr";
/* 
*/
html, body {
	margin:0 auto;
	padding:0;
	width:100% !important;
	font-family:Dotum,Arial;
	font-size:11px;
	color:#767A7D;
	}
ul,li,dl,dt,dd,form,p {
	margin:0;
	padding:0;
}
table, img {
	border-collapse:collapse;
	border:0px none;
}

ul li {
	list-style-type: none;
}

#meTitle{
	font-size:12px;
}

/* TITLES */
img, li img {
	vertical-align: top;	/* for IE imge margin */
}
.bld { font-weight:bold;}
.ht15 { height:15px;}
.ht20 { height:20px;}
.ht25 { height:25px;}
.ht30 { height:30px;}
.ht_btm { height:300px;} 
.ht_btm2 { height:150px;} 
.ht_btm3 { height:60px;} 
td a:link, td a:visited {
	color: #7A7A7A;
	text-decoration:none;
	font-family:Dotum,Arial;
	font-size:11px;
	}
td a:active, td a:hover {
	color: #FF7700;
	text-decoration:none;
	font-family:Dotum,Arial;
	font-size:11px;
	}
input {
	vertical-align: top;
	font-family:Dotum,Arial;
	color: #7C7C7B;
	border:none;
}
/* color */
.fcoe { color:#FE8004}


.pop_footer {
	background-color:#F3F6F7;
	height:25px;
	width:100%;
}
.footer_p {
	padding:10px 0 0 15px;
}
.footer_btn {
	text-align:right;
	padding:3px 10px 0 0;
}

/* layout */
#body_bg {
 width:100%;
}



.popup_bodyPadding		{padding:7px 7px 4px 7px;}
.popup_border			{background:#dddddd;height:1px;font-size:0px;}
.popup_contentBox		{margin-bottom:7px;border-collapse:collapse;}
.popup_stl				{height:22px;padding:9px 0 0 9px;border-bottom:1px solid #DDDDDD;}
.popup_conLayout		{padding:0 7px 7px 20px;border-bottom:1px solid #DDDDDD;}
.popup_block			{padding-top:13px;}
.popup_block ul li		{background:url('./pop_down_bu01.gif') 0 6px no-repeat;padding:0 0 5px 9px;font-size:11px;color:#7a7a7a;line-height:160%;}
.popup_block ul li.none	{background:url('') 0 6px no-repeat;padding:0 0 5px 9px;font-size:11px;color:#7a7a7a;line-height:160%;}
.popup_img				{padding-left:6px;}
.pop_imgCaption			{padding:8px 0 0 7px;}
.popup_btTop			{margin-top:6px;text-align:right;height:12px;}
.popup_blue				{color:#2d57cf;}
.popup_blueB			{color:#2d57cf;font-weight:bold;}
.popup_blackB			{color:#505050;font-weight:bold;}
.popup_orangeU			{color:#ff7401;text-decoration:underline;}
.popup_white			{color:#FFFFFF;}

.popup_notice_blackB	{color:#343434;font-weight:bold;}
.popup_notice_blueBU	{color:#084999;text-decoration:underline;font-weight:bold;}

.popup_notice_imgTlBox	{margin:9px 10px 5px 10px;}
.popup_notice_imgTl		{border:5px solid #f2f2f2;background:#FFFFFF;padding:9px 0;text-align:center;}
.popup_notice_content	{margin:10px 20px 40px 20px;}
.popup_notice_textBlock	{padding-top:15px;}
.popup_notice_textTl	{background:url('./pop_notice_bu01.gif') no-repeat;padding:0 0 0 17px;color:#343434;height:18px;}
.popup_notice_text		{padding:0 0 0 18px;line-height:160%;}

.popup_notice_table		{margin-top:10px;border-collapse:collapse;border-top:2px solid #427fc4;}
.popup_notice_table th	{border:1px solid #b9cee7;background:#e7f1fb;color:#305f98;font-weight:bold;padding:6px 0 3px 0;}
.popup_notice_table td.con_l	{border:1px solid #b9cee7;color:#7a7a7a;padding:3px 0 1px 8px;line-height:150%;}
.popup_notice_table td.con_c	{border:1px solid #b9cee7;color:#7a7a7a;padding:3px 0 1px 0px;line-height:150%;text-align:center;}
.popup_notice_footer	{background:#f3f6f7;height:25px;}
.popup_notice_footer_today	{padding:2px 0 0 5px;}


.popup_notice_course	{height:22px;background:url('./pop_notice_bu01.gif') 0 6px no-repeat;padding:2px 0 0 17px;}
.popup_notice_line		{height:1px;background:#f0f0f0;}
.popup_notice_cont		{padding:7px 0 0 17px;line-height:170%;}
.popup_notice_btngo		{padding-top:26px;text-align:center;}
.popup_bacground_white  {background:url('./bg_w.gif') repeat-y;}